/* font  (ROBOTO)*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

::-webkit-scrollbar{
    height: 4px;
    width: 4px;
    background: gray;
    display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  display: none;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  display: none;
}




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
html{
    padding: 0;
    margin: 0;
}


body{
    width: 100vw;
    height: 100vh;
    background-color: #EFF3F5;
    font-family:  "Roboto", sans-serif;
}
body .page-body{
    display: flex;
}

/*the aside */
    .page-body aside{
        position: relative;
        position: fixed;
        width: 16.8%;
        height: 100vh;
        background-color: #FFFFFF;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .page-body aside .itc-logo{
        width: 53px;
        margin: 40px 40px 60px 40px;
    }

    .page-body aside ul{
        width: 70%;
    }
    .page-body aside ul li a{
        display: flex;
        align-items: center;padding: 15px 0;
    }
    .page-body aside ul li a:hover ,   .page-body aside ul li a:active{
        color: #2C5375;
    }
    .page-body aside ul li i{
        margin-right: 10px;
        
    }

    .page-body aside ul li a{
        color:  #A6A2A2;
        font-size: 1.2vw;
        line-height: 23.44px;
        font-weight: 400;
    }

    .page-body aside ul .active a{
        color: #2C5375;;
    }

    .page-body aside .log-out{
        position: absolute;
        bottom: 30px;
    }
/*end of the aside */


/*main  section*/
    .page-body .main-section{
        width: 83.2%;
        height: 100vh;
        background-color: #EFF3F5;
        padding:  20px;
        margin-left: 16.8%;
    }
/*nav-bar*/
    .page-body .main-section .nav-bar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }
    .page-body .main-section .nav-bar .title{
        font-size: 2vw;
        font-weight: 600;
        color:  #2C5375;;
    }

    .page-body .main-section .nav-bar .right{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 40%;
    }

    .page-body .main-section .nav-bar .right .widget{
        display: flex;
        align-items: center;
        margin-left: 30px;
    }
    .page-body .main-section .nav-bar .right .widget i{
        margin-right: 15px;
        font-size: 20px;
        color: #2C5375;
    }

    .page-body .main-section .nav-bar .right .search{
        display: flex;
        align-items: center;
        width: 100%;
        padding: 7px 20px;
        background-color: #FFFFFF;
        border-radius: 9px;
    }
    .page-body .main-section .nav-bar .right button{
        border: none;
        background-color: #FFFFFF;
        color: #A6A2A2;
        margin-right: 5px;
    }
    .page-body .main-section .nav-bar .right input{
        border: none;
        outline: none;
        width: 100%;
        font-size: 15px;
        padding-left: 5px;
        font-weight: 400;
    }
    

/*end nav-bar*/
/*end of main  section*/


/*main*/
    /*first section*/
    .page-body .main-section .main{
        margin-top: 60px;
        padding: 20px;
    }

    .page-body .main-section .main .description{
        background-color: #FFFFFF5E;
        padding: 20px 40px;
        border-radius: 20px;
        min-height: 200px;

        display: flex;
        justify-content: space-between;
        position: relative;
    }
    .page-body .main-section .main .description .left {
        width: 40%;
    }
    .page-body .main-section .main  .description .left h2{
        font-size: 25px;
        color: #6898B2;
        font-weight: 500;
        padding-bottom: 10px;
    }
    .page-body .main-section .main .description .left p{
        font-size: 25px;
        color: #39434D;
        font-size: 30px;
        line-height: 37.5px;
        font-weight: 500;
    }
    
    .page-body .main-section .main .description img{
        position: absolute;
        right: 8%;
        top: 50%;
        transform: translateY(-50%);
    }

    /*imgs of desc...*/
        .page-body .main-section .main .description .act{
            width: 287px;
            height: 211px;
        }
        .page-body .main-section .main .description .qz{
            width: 230px;
            height: 230px;
        }
        .page-body .main-section .main .description .of{
            width: 336px;
            height: 238px;
            right: 0%;
        }
    /*imgs of desc...*/
    /*first section*/

/*main*/












/* activities page*/
        .main-section .main .act-cards{
            display: grid;
            gap: 20px;
            grid-template-columns: repeat(auto-fill , minmax(200px ,1fr));
            background: #FFFFFF;
            border-radius: 20px;
            justify-items: center;
        
            margin-top: 30px;
            padding: 80px 140px;
        }
        .main-section .main .act-cards .card{
            border: none;
            text-align: center;
            padding: 13px 20px;
            border-radius: 10px;
            width: 190px;
            height: 180px;
            box-shadow: 0 0 3.9px 1px #00000040;
        }
        .main-section .main .act-cards .card:hover{
            box-shadow: 0 0 10px 1px #00000040;
            padding: 15px 22px;
            transition: 0.3s;
        }
        .main-section .main .act-cards .card img{
            width: 64px;
            height: 64px;
        }
        .main-section .main .act-cards .card  h3{
            font-size: 20px;
            line-height: 23.44px;
            color: #171C22;
            font-weight: 500;
            padding-top: 10px;
        }
        .main-section .main .act-cards .card p{
            color: #A6A2A2;
            font-weight: 500;
            font-size: 15px;
            padding-top: 10px;
        }

/*end activities page*/